<ion-view title="home" hide-nav-bar="true" id="page20">
  <ion-content padding="false" style="background: url(img/home-background.png) no-repeat center;background-size:cover;" class=" manual-remove-top-padding" scroll="false">
        <img id="logo" src="../img/im-logo-white.png">

      <h4 class="motto">Volunteer. Earn. Redeem. </h4>
    <a ui-sref="signUp" class="home-login-button button button-balanced  button-block buttonstyle short">Sign Up</a>

   <a ui-sref="login" class="home-login-link button button-light  button-outline logintext">Login</a>

  </ion-content>
</ion-view>
