<ion-view title="home" hide-nav-bar="true" id="page20">
  <ion-content padding="false" style="background: url(img/gEHJNmkwQIOrS6ezAJ4O_volunteergreeenLowerBlur.jpg) no-repeat center;background-size:cover;" class=" manual-remove-top-padding" scroll="false">
    <div class="spacer" style="width: 320px; height: 16px;"></div>
    <div id="home-container24" class="loginnavcontainer">
      <a ui-sref="login" id="home-button17" style="font-weight:500;color:#FFFFFF;" class="button button-light  button-outline logintext">Login</a>
    </div>
    <div id="home-container23" class="logocontainer">
      <div>
        <img src="img/iqDZxES9SLKpGs0NWmM8_involveMINT_Logo_350.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <div class="spacer" style="width: 320px; height: 175px;"></div>
    <div id="home-container14" class="container">
      <h1 id="home-heading11" style="color:#FFFFFF;text-align:right;">Volunteer. </h1>
      <h1 id="home-heading16" style="color:#FFFFFF;text-align:right;">Earn. </h1>
      <h1 id="home-heading13" style="color:#FFFFFF;text-align:right;">Redeem. </h1>
    </div>
    <a ui-sref="signUp" id="home-button19" style="font-weight:500;color:#FFFFFF;font-size:20px;border-radius:9px 9px 9px 9px;" class="button button-balanced  button-block buttonstyle short">Sign Up</a>
  </ion-content>
</ion-view>