<ion-view title="home" hide-nav-bar="true" id="page20">
  <ion-content padding="false" style="background: url(img/gEHJNmkwQIOrS6ezAJ4O_volunteergreeenLowerBlur.jpg) no-repeat center;background-size:cover;" class=" manual-remove-top-padding" scroll="false">
    <div class="spacer"></div>
    <div id="home-container24" class="loginnavcontainer">
      <a ui-sref="login" id="home-button17" class="button button-light  button-outline logintext">Login</a>
    </div>
    <div id="home-container23" class="logocontainer">
      <div>
        <img id="logo" src="img/iqDZxES9SLKpGs0NWmM8_involveMINT_Logo_350.png">
      </div>
    </div>
    <div class="homeSpacer"></div>
    <div id="home-container14" class="container">
      <h1 id="home-heading11">Volunteer. </h1>
      <h1 id="home-heading16">Earn. </h1>
      <h1 id="home-heading13">Redeem. </h1>
    </div>
    <a ui-sref="signUp" id="home-button19" class="button button-balanced  button-block buttonstyle short">Sign Up</a>
  </ion-content>
</ion-view>
