<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<style> 

body {
	font-family:'Montserrat', sans-serif;
}

.partner-container {
  padding:30px;
}

.partner-container p {
  color:black;
  display:inline;
}

.bold {
	font-weight:700;
	font-size:1.2em;
}

a {
	text-decoration: none;
}

.where, 
.date, 
.when, 
.place,
.problem,
.solution {
  display:inline-block;
  padding: 0px 5px 0px 0px;
  margin:0;
}

.where, 
.when, 
.problem,
.solution,
.address {
  font-weight:700;
}

.event-title, 
.organization
{
  background-color:transparent;
  color:white;
}

.partner-title
{
  background-color: rgba(0, 0, 0, 0.5);
  height:200px;
  padding:30px;
}
.partner-title h2, h3 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.partner-title button {
  width:100px;
}

.partner-address p {
  color:black;
  padding:0;
  margin:0;
  text-decoration:none;
}

.partner-address a, 
.calendar-add {
  text-decoration: none;
}

#familyfarms-heading {
  background-image:url('../img/familyfarms.png');
  background-size:cover;
  background-position: center;
}

</style>

      <div id="familyfarms-heading">
        <div class="partner-title">
          <h2 class="event-title">Family Farms Creamery</h2>
          <h3 class="organization">Pittsburgh, PA</p>
        </div>
      </div>

<div class="partner-container">

<p class="bold">Redeem: </p><p>Ice Cream Discounts</p><br><br>
<p class="bold">Cost:</p><br>
<p>1 TC =  1 scoop.</p><br>
<p>2 TC =  1 cup</p><br>
<p>3 TC =  1 slate </p><br><br>
<p class="bold">Slots Available: </p><p>10/day</p><br><br>
<p class="bold">Limit: </p><p>1 offer per person per day</p>
<br><br>
<p>Pittsburgh Ice Cream Company has been churning specialty Farm-to-Cone ice creams and sorbets since 2014. Pittsburgh's food landscape is woven of historic farms and new artisan food producers. Working closely with both, we create new flavors with a timeless taste. With a passion for the future and a deep respect for our past, we handcraft ice cream that brings you the tastes of this place, our place: Pittsburgh.</p><br><br>
	<div style="text-align:center;">
	<p class="bold">11am - 9pm</p><br>
	<p class="bold">435 Market Street Pittsburgh, PA 15222</p> <br>
	<p class="bold">Inside Market Street Grocery</p><br>
	<a href="http://www.familyfarmcreameries.com/ice-cream">familyfarmcreameries.com</a>
	</div>
</div>
     

