<ion-view title="Individual Voucher" hide-nav-bar="true" id="voucher">
  <ion-content padding="false" class=" manual-remove-top-padding">
     <main class="voucher-container">
        <div class="james-prize-details">
          <div class="voucher-banner upcase">
            <h4>Rock on! You just got yourself a ...</h4>
          </div>
          <div class="darkener">
             <div class="image-text">
               <h2>Free Concert</h2>
              <p class="bold">James Street Gastropub</p>
              <p>422 Foreland St, Pittsburgh, PA 15212</p>
              <a class="bold upcase" href="#">View map</a>
            </div>
          </div>


        </div>
        <div class="voucher-box">
          <p>When you're checking out, give this code to the cashier to claim your reward:</p>
          <h1>80292</h1>
        </div>
        <p class="voucher-thanks">Thanks for your participation with InvolveMINT!</p>
     </main>


  </ion-content>
</ion-view>
