<!-- <ion-view title="Our Partners" id="page50">
  <ion-content padding="false" class="manual-remove-top-padding">  -->
 
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <style>

  #partnerlist {
    font-family: Montserrat, sans-serif;
  }

  #partnerlist img {
    display: block; 
    width: 100%; 
    height: auto; 
    margin-left: auto; 
    margin-right: auto;
  }

  #partnerlist a {
    display:block;
    text-decoration: none;
  }

  .partner, .darkener {
    height:400px;
    width:100%;
    overflow: hidden;
  }

  .partner {
    background-size:cover;
    background-repeat: no-repeat;
  }

  .darkener {
    background-color: rgba(0, 0, 0, 0.5);
  }

  #lightoflife {
    background-image: url("../img/lightoflife.jpeg");
  }

  #decoresources {
    background-image: url("../img/decoresources.jpg");
  }

  #familyfarms {
    background-image: url("../img/familyfarms.png");
  }

  #jamesstreet {
    background-image: url("../img/jamesstreet.png");
  }

  #photoantiquities {
    background-image: url("../img/photoantiquities.png");
  }

  #ventureoutdoors {
    background-image: url("../img/ventureoutdoors.jpg");
  }

  .green-container
  {
    background-color: rgba(153,204,51, 0.75);
    width:400px;
    padding:.25em 1em .25em 1em;
    box-sizing:border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position:relative;
    top:82%;
    text-align:center;
  }
  .green-container .partner-title {
    color:white;
    text-transform: uppercase;
    font-weight: lighter;
  }

</style>

  <div id="partnerlist" class="partnerlist">
      <div class="partner" id="lightoflife">
        <a> 
          <div class="darkener">
            <div class="green-container">
              <a href="#">
                <h2 class="partner-title">Light of Life</h2>
              </a>
            </div>
          </div>
        </a>
      </div>
  </div>

  <div id="partnerlist" class="partnerlist">
      <div class="partner" id="decoresources">
        <a> 
          <div class="darkener">
            <div class="green-container">
              <a href="#">
                <h2 class="partner-title">Deco Resources</h2>
              </a>
            </div>
          </div>
        </a>
      </div>
  </div>

  <div id="partnerlist" class="partnerlist">
      <div class="partner" id="familyfarms">
        <a> 
          <div class="darkener">
            <div class="green-container">
              <a href="#">
                <h2 class="partner-title">Family Farms Creamery</h2>
              </a>
            </div>
          </div>
        </a>
      </div>
  </div>

  <div id="partnerlist" class="partnerlist">
      <div class="partner" id="jamesstreet">
        <a> 
          <div class="darkener">
            <div class="green-container">
              <a href="#">
                <h2 class="partner-title">James Street Gastropub</h2>
              </a>
            </div>
          </div>
        </a>
      </div>
  </div>

    <div id="partnerlist" class="partnerlist">
      <div class="partner" id="photoantiquities">
        <a> 
          <div class="darkener">
            <div class="green-container">
              <a href="#">
                <h2 class="partner-title">Photo Antiquities Museum</h2>
              </a>
            </div>
          </div>
        </a>
      </div>
  </div>

    <div id="partnerlist" class="partnerlist">
      <div class="partner" id="ventureoutdoors">
        <a> 
          <div class="darkener">
            <div class="green-container">
              <a href="#">
                <h2 class="partner-title">Venture Outdoors</h2>
              </a>
            </div>
          </div>
        </a>
      </div>
  </div>

<!-- Add this into individual partner things:
 --><!-- ui-sref="tabController.volunteerLOL({id:project.id})" -->    
<!--   </ion-content>
</ion-view>