<ion-view title="Redeem Photo Pass" hide-nav-bar="true" id="page31" style="background-color:#000000;">
  <ion-content padding="false" class=" manual-remove-top-padding">
    <div>
      <img src="img/kPDh3R0RZKldMNOCk0DP_Photo.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="redeemPhotoPass-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Photography - History - Museum</p>
    </div>
    <div id="redeemPhotoPass-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:23px;">Photo Antiquities Museum</p>
    </div>
    <div id="redeemPhotoPass-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#FFFFFF;font-size:16px;">531 East Ohio St.</p>

      <p style="color:#FFFFFF;font-size:16px;">Pittsburgh, PA 15212 www.photoantiquities.org
      </p>
    </div>
    <div id="redeemPhotoPass-markdown14" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Contact Bruce Klein at 412-231-7881</p>
    </div>
    <h3 id="redeemPhotoPass-heading19" style="color:#FFFFFF;text-align:center;">Show at Door or Cashier</h3>
    <h4 id="redeemPhotoPass-heading17" style="color:#FFFFFF;text-align:center;">Pass # 3456</h4>
    <div>
      <img src="img/D8pHPA4jQr6JxI9LKy5M_involveMINT_Logo_175x70.png" style="display: block; width: 55%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>