<ion-view title="Redeem Deco" hide-nav-bar="true" id="page27" style="background-color:#000000;">
  <ion-content padding="false" class=" manual-remove-top-padding">
    <div>
      <img src="img/9GDyydI9TWul9ZOJrY2Z_DECO.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="redeemDeco-markdown25" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:16px;">Resources for a Sustainable World</p>
    </div>
    <h2 id="redeemDeco-heading36" style="color:#FFFFFF;text-align:center;">Deco Resources</h2>
    <h5 id="redeemDeco-heading40" style="color:#FFFFFF;text-align:center;">http://deco-resources.com/get-involved/</h5>
    <div class="spacer" style="width: 320px; height: 4px;"></div>
    <a ui-sref="tabController.redeemDecoPass" id="redeemDeco-button29" style="font-weight:500;font-size:18px;border-radius:9px 9px 9px 9px;" class="button button-balanced  button-block">Redeeem Water Test Discount</a>
    <div>
      <img src="img/6gnL94wlTfGwwhnbHwuE_involveMINT_Logo_175x70.png" style="display: block; width: 55%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>