<ion-view title="Redeem Deco" hide-nav-bar="true" id="redeemFamilyFarms">
  <ion-content padding="false" class=" manual-remove-top-padding">

      <div id="familyfarms-heading">
        <div class="partner-title">
          <h2 class="event-title">Family Farms Creamery</h2>
          <h3 class="organization">Pittsburgh, PA</p>
        </div>
      </div>

<div class="partner-container">

<p class="bold">Redeem: </p><p>Ice Cream Discounts</p><br><br>
<p class="bold">Cost:</p><br>
<p>1 TC =  1 scoop.</p><br>
<p>2 TC =  1 cup</p><br>
<p>3 TC =  1 slate </p><br><br>
<p class="bold">Slots Available: </p><p>10/day</p><br><br>
<p class="bold">Limit: </p><p>1 offer per person per day</p>
<br><br>
<p>Pittsburgh Ice Cream Company has been churning specialty Farm-to-Cone ice creams and sorbets since 2014. Pittsburgh's food landscape is woven of historic farms and new artisan food producers. Working closely with both, we create new flavors with a timeless taste. With a passion for the future and a deep respect for our past, we handcraft ice cream that brings you the tastes of this place, our place: Pittsburgh.</p><br><br>
	<div style="text-align:center;">
	<p class="bold">11am - 9pm</p><br>
	<p class="bold">435 Market Street Pittsburgh, PA 15222</p> <br>
	<p class="bold">Inside Market Street Grocery</p><br>
	<a href="http://www.familyfarmcreameries.com/ice-cream">familyfarmcreameries.com</a>
	</div>
</div>

