<ion-view title="James St Gastropub" hide-nav-bar="false" id="redeemJamesSt">
  <ion-content padding="false" class=" manual-remove-top-padding">

      <div id="jamesstreet-heading">
        <div class="redeem-title">
          <h2 class="event-title">James St Gastropub</h2>
          <h3 class="organization">Pittsburgh, PA</p>
        </div>
      </div>

<div class="redeem-container" style="padding:30px">

<div class="redeem-content-container">
  <p class="redeem-address">422 Foreland St Pittsburgh, PA 15212</p>
  <a class="small-orange-link" href="https://www.google.com/maps/place/James+Street+Gastropub+%26+Speakeasy/@40.45433,-80.0010575,15z/data=!4m2!3m1!1s0x0:0x55540e2cfc013fdd?sa=X&ved=0ahUKEwjZqpKt6frSAhVI0iYKHWU2CZUQ_BIIezAM">View Map</a>
</div>

<div class="redeem-content-container">
  <p class="redeem-phone">412-904-3335</p>
  <a class="redeem-link" href="http://www.jamesstreetgastropub.com/">familyfarmcreameries.com</a>
</div>

<div class="redeem-tables-container">

<table class="hours">
<th colspan="3"><p class="bold">Hours</p></th>
  <tr>
    <td>T - Th</td>
    <td>4PM - 12AM</td>
  </tr>
  <tr>
    <td>F</td>
    <td>4PM - 1AM</td>
  </tr>
  <tr>
    <td>Sat</td>
    <td>11AM - 1AM</td>
  </tr>
  <tr>
    <td>Sun</td>
    <td>1AM - 12AM</td>
  </tr>
</table>

<table class="rewards">
  <th colspan="3"><p class="bold">Redeem</p></th>
  <tr>
    <td><p class="bold">1 TC</p></td>
    <td>Free Concert Admission</td>
  </tr>
</table>

</div>

<div class="redeem-content-container" style="text-align:center">
  <p>1 offer per person per day.</p>
</div>

<div class="redeem-button-container">
  <button class="redeem-button">Redeem Your Credits</button>
</div>

</div>

  <div class="redeem-about">

  <p class="bold">About James St Gastropub</p><br>

  <p>A family-owned restaurant and bar located in Pittsburgh’s Historic Deutschtown.</p><br><br>

  </div>

</div>

</ion-content>
</ion-view>
