<ion-view title="Redeem List Scroll" hide-nav-bar="true" id="page15" style="background-color:#000000;">
  <ion-content padding="false" class=" manual-remove-top-padding">
  
  <div id="partnerlist" class="partnerlist">
      <div class="partner" id="lightoflife">
        <a> 
          <div class="darkener">
            <div class="green-container">
              <a href="#">
                <h2 class="partner-title">Light of Life</h2>
              </a>
            </div>
          </div>
        </a>
      </div>
  </div>

  <div id="partnerlist" class="partnerlist">
      <div class="partner" id="decoresources">
        <a> 
          <div class="darkener">
            <div class="green-container">
              <a href="#">
                <h2 class="partner-title">Deco Resources</h2>
              </a>
            </div>
          </div>
        </a>
      </div>
  </div>

  <div id="partnerlist" class="partnerlist">
      <div class="partner" id="familyfarms">
        <a> 
          <div class="darkener">
            <div class="green-container">
              <a href="#">
                <h2 class="partner-title">Family Farms Creamery</h2>
              </a>
            </div>
          </div>
        </a>
      </div>
  </div>

  <div id="partnerlist" class="partnerlist">
      <div class="partner" id="jamesstreet">
        <a> 
          <div class="darkener">
            <div class="green-container">
              <a href="#">
                <h2 class="partner-title">James Street Gastropub</h2>
              </a>
            </div>
          </div>
        </a>
      </div>
  </div>

    <div id="partnerlist" class="partnerlist">
      <div class="partner" id="photoantiquities">
        <a> 
          <div class="darkener">
            <div class="green-container">
              <a href="#">
                <h2 class="partner-title">Photo Antiquities Museum</h2>
              </a>
            </div>
          </div>
        </a>
      </div>
  </div>

    <div id="partnerlist" class="partnerlist">
      <div class="partner" id="ventureoutdoors">
        <a> 
          <div class="darkener">
            <div class="green-container">
              <a href="#">
                <h2 class="partner-title">Venture Outdoors</h2>
              </a>
            </div>
          </div>
        </a>
      </div>
  </div>

  </ion-content>
</ion-view>
