<ion-view title="Redeem Deco Pass" hide-nav-bar="true" id="page34" style="background-color:#000000;">
  <ion-content padding="false" class=" manual-remove-top-padding">
    <div>
      <img src="img/9GDyydI9TWul9ZOJrY2Z_DECO.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="redeemDecoPass-markdown26" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:16px;">Resources for a Sustainable World</p>
    </div>
    <h2 id="redeemDecoPass-heading41" style="color:#FFFFFF;text-align:center;">Deco Resources</h2>
    <h5 id="redeemDecoPass-heading42" style="color:#FFFFFF;text-align:center;">http://deco-resources.com/get-involved/</h5>
    <div class="spacer" style="width: 320px; height: 4px;"></div>
    <h3 id="redeemDecoPass-heading43" style="color:#FFFFFF;text-align:center;">Show Pass for Test</h3>
    <h4 id="redeemDecoPass-heading44" style="color:#FFFFFF;text-align:center;">Pass # 7741</h4>
    <div>
      <img src="img/3PYZ29ISSEGCz5m6CWoi_involveMINT_Logo_175x70.png" style="display: block; width: 55%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>