<ion-view title="Redeem Venture" hide-nav-bar="true" id="page26" style="background-color:#000000;">
  <ion-content padding="false" class=" manual-remove-top-padding">
    <div>
      <img src="img/4OOt8rklRySgY6zoS3ND_VO.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="redeemVenture-markdown21" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:16px;">Excursions - Tours - Classes</p>
    </div>
    <h3 id="redeemVenture-heading25" style="color:#FFFFFF;text-align:center;">Venture Outdoors</h3>
    <h4 id="redeemVenture-heading26" style="color:#FFFFFF;text-align:center;">www.ventureoutdoors.org</h4>
    <div id="redeemVenture-markdown20" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:16px;">To Redeem Contact: </p>

      <p style="color:#FFFFFF;font-size:16px;">Kathy Radock 412-255-0564 x224</p>
    </div>
    <a ui-sref="tabController.redeemVenturePass" id="redeemVenture-button27" style="font-weight:500;font-size:18px;border-radius:9px 9px 9px 9px;" class="button button-balanced  button-block">Redeem Excursion</a>
    <div>
      <img src="img/v7ZmQp6CTFuc8xsXE9z2_involveMINT_Logo_175x70.png" style="display: block; width: 55%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>