<ion-view title="{{redemption.title}}" hide-nav-bar="true" id="page28" style="background-color:#000000;">
  <ion-content padding="false" class=" manual-remove-top-padding">
    <div>
      <img src="{{redemption.image}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="redeemPhoto-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
      <!-- <p style="color:#FFFFFF;">Photography - History - Museum</p> -->
    </div>
    <div id="redeemPhoto-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:23px;">{{redemption.description}}</p>
    </div>
    <div id="redeemPhoto-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#FFFFFF;font-size:16px;">{{redemption.location}}</p>

      <!-- <p style="color:#FFFFFF;font-size:16px;">Pittsburgh, PA 15212 www.photoantiquities.org -->
      </p>
    </div>
    <div id="redeemPhoto-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
      <!-- <p style="color:#FFFFFF;">Contact Bruce Klein at 412-231-7881</p> -->
    </div>
    <a ui-sref="tabController.redeemPhotoPass" id="redeemPhoto-button12" style="font-weight:500;font-size:18px;border-radius:9px 9px 9px 9px;" class="button button-balanced  button-block">Redeem Museum Admission</a>
    <div>
      <img src="img/tsf9TmltRby1n8xBm1Lv_involveMINT_Logo_175x70.png" style="display: block; width: 55%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>
