<ion-view title="Deco Resources" hide-nav-bar="false" id="redeemFamilyFarms">
  <ion-content padding="false" class=" manual-remove-top-padding">

      <div id="familyfarms-heading" style='background-image: url("img/decoresources.jpg")'>
        <div class="redeem-title">
          <h2 class="event-title">Deco Resources</h2>
          <h3 class="organization">Pittsburgh, PA</p>
        </div>
      </div>

<div class="redeem-container" style="padding:30px">

<div class="redeem-content-container">
  <p class="redeem-address">744 East Warrington Ave Pittsburgh PA, 15210</p>
  <a class="small-orange-link" href="https://www.google.com/maps/place/Family+Farm+Creameries/@40.4412099,-80.0046532,17z/data=!3m1!4b1!4m5!3m4!1s0x8834f3c4a18628f1:0xc298c7da29dd46a2!8m2!3d40.4412099!4d-80.0024645">View Map</a>
</div>

<div class="redeem-content-container">
  <!-- <p class="redeem-phone">412-729-6455</p> -->
  <a class="redeem-link" href="http://www.deco-resources.com">deco-resources.com</a>
</div>

<div class="redeem-tables-container">

<table class="hours">
<th colspan="3"><p class="bold">Hours</p></th>
  <tr>
    <td>Deco to be in contact to schedule</td>
  </tr>
</table>

<table class="rewards">
  <th colspan="3"><p class="bold">Redeem</p></th>
  <tr>
    <td><p class="bold">1 TC</p></td>
    <td>Free Water Test</td>
  </tr>
</table>

</div>

<div class="redeem-content-container" style="text-align:center">
  <p>1 offer per person per day.</p>
</div>

<div class="redeem-button-container">
  <button class="redeem-button">Redeem Your Credits</button>
</div>

</div>

  <div class="redeem-about">

  <p class="bold">About Deco Resources</p><br>

  <p>Our mission is to integrate sustainability into a project or organization from the original design through full implementation. We help guide eco-conscious choices through engineering and construction. We facilitate green practices in the commercial setting and improve metrics in energy, water, transportation, and air quality.</p><br><br>

  </div>

</div>

</ion-content>
</ion-view>
