<ion-view title="Family Farms Creamery" hide-nav-bar="true" id="redeemFamilyFarms">
  <ion-content padding="false" class=" manual-remove-top-padding">

      <div id="familyfarms-heading">
        <div class="redeem-title">
          <h2 class="event-title">Family Farms Creamery</h2>
          <h3 class="organization">Pittsburgh, PA</p>
        </div>
      </div>

<div class="redeem-container" style="padding:30px">

<div class="redeem-content-container">
  <p class="redeem-address">435 Market Street Pittsburgh, PA 15222</p>
  <a class="small-orange-link" href="https://www.google.com/maps/place/Family+Farm+Creameries/@40.4412099,-80.0046532,17z/data=!3m1!4b1!4m5!3m4!1s0x8834f3c4a18628f1:0xc298c7da29dd46a2!8m2!3d40.4412099!4d-80.0024645">View Map</a>
</div>

<div class="redeem-content-container">
  <p class="redeem-phone">412-729-6455</p>
  <a class="redeem-link" href="http://www.familyfarmcreameries.com/ice-cream">familyfarmcreameries.com</a>
</div>

<div class="redeem-tables-container"> 

<table class="hours">
<th colspan="3"><p class="bold">Hours</p></th>
  <tr>
    <td>M - F</td>
    <td>7AM - 9PM</td>
  </tr>
  <tr>
    <td>Sat. & Sun</td>
    <td>9AM - 5PM</td>
  </tr>
</table>

<table class="rewards">
  <th colspan="3"><p class="bold">Redeem</p></th>
  <tr>
    <td><p class="bold">1 TC</p></td>
    <td>1 Scoop</td>
  </tr>
  <tr>
    <td><p class="bold">2 TC</p></td>
    <td>1 Cup</td>
  </tr>
  <tr>
    <td><p class="bold">3 TC</p></td>
    <td>1 Slate</td>
  </tr>
</table>

</div>

<div class="redeem-content-container" style="text-align:center">
  <p>1 offer per person per day.</p>
</div>

<div class="redeem-button-container">
  <button class="redeem-button">Redeem Your Credits</button>
</div>

</div>

  <div class="redeem-about">

  <p class="bold">About Family Farms Creamery</p><br>

  <p>Pittsburgh Ice Cream Company has been churning specialty Farm-to-Cone ice creams and sorbets since 2014. Pittsburgh's food landscape is woven of historic farms and new artisan food producers. Working closely with both, we create new flavors with a timeless taste. With a passion for the future and a deep respect for our past, we handcraft ice cream that brings you the tastes of this place, our place: Pittsburgh.</p><br><br>

  </div>

</div>

</ion-content>
</ion-view> 
