<ion-view title="Individual Voucher" hide-nav-bar="true" id="familyFarmsVoucher">
  <ion-content padding="false" class=" manual-remove-top-padding">

     <main class="voucher-container">

        <div class="farms-prize-details">

        <div class="darkener">

          <div class="voucher-banner upcase">
            <h4>Rock on! You just got yourself...</h4>
          </div>
          <div class="image-text">
             <h2>Free Scoop</h2>
            <p class="bold">Family Farms Creamery</p>
            <p>435 Market Street Pittsburgh, PA 15222</p>
            <a class="bold upcase" href="#">View map</a>
          </div>

          </div>

        </div>

        <div class="voucher-box">
          <p>When you're checking out, give this code to the cashier to claim your reward:</p>
          <h1>80291</h1>
        </div>
        <p class="voucher-thanks">Thanks for your participation with InvolveMINT!</p>

      <a class="twitter-sharing" href="http://twitter.com/home?status=I just redeemed my Involvemint time credits! Check out @involve_mint to learn more."><img src="img/twitter.png">Tweet</a>
      
      <a class="facebook-sharing" data-tnb="facebook-share" href="http://www.facebook.com/sharer.php?src=sp&u=https://www.facebook.com/joininvolvemint/"><img src="img/facebook.png">Share</a>

     </main>

  </ion-content>
</ion-view>
