<ion-view title="Sign-Up" hide-nav-bar="true" cache-view="false" nav-transition="none" id="page10">
  <ion-content padding="true" style="background: url(img/sign-up-light.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <div id="signUp-markdown2" ng-if="" style="text-align:center;" class="show-list-numbers-and-dots error-box">
      <p style="color:#FFFFFF;">Whoops!!!
        <br>Something is wrong!</p>
    </div>
    <form class="list center-form">

      <ion-list class="signup-list">
         <div>
           <a style="display:block;" ui-sref="tabController.home_tab2">
             <img class="login-icon" src="img/im-icon.png" />
           </a>
         </div>
         <h2>REGISTER</h2>
        <label>First Name</label>

          <input class="register-input" type="text" placeholder="" ng-model="data.firstname">

        <label>Last Name</label>

          <input class="register-input" type="text" placeholder="" ng-model="data.lastname">

        <label>Email</label>

          <input class="register-input"  type="email" placeholder="" ng-model="data.email">

        <label>Password</label>

          <input class="register-input" type="password" placeholder="" ng-model="data.password">

        <label>Age</label>

          <input class="register-input" type="text" placeholder="" ng-model="data.age">

        <label>Zip Code</label>
          <input class="register-input" type="text" placeholder="" ng-model="data.zip">

      </ion-list>
      <a ui-sref="tabController.yourProfile_tab5" ng-click="signup()" class="signup-button button button-balanced  button-block button-positive">Sign-Up</a>
      <h4 class="alreadyMember">Already a member?</h4>
      <a ui-sref="login" class="signup-link">Sign In</a>
    </form>
  </ion-content>
</ion-view>
