<ion-view hide-nav-bar="false" id="page1">
  <ion-tabs class="tabs-dark tabs-icon-top" id="tabController-tabs1">
    <ion-tab title="Volunteer" icon-on="volunteer" icon-off="volunteer" href="#/tab/volinteer-tab/volunteerList" id="tabController-volinteer-tab" class="iconstyle">
      <ion-nav-view name="volinteer-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Wallet" icon="ion-cash" href="#/tab/wallet" id="tabController-tab3" class="iconstyle">
      <ion-nav-view name="wallet-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Credits" icon-on="credits" icon-off="credits" href="#/tab/tab5/profile" id="tabController-tab5" class="iconstyle">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Redeem" icon-on="redeem" icon-off="redeem" href="#/tab/tab4/redeemListScroll" id="tabController-tab4" class="iconstyle">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
