<ion-view hide-nav-bar="true" id="page1">
  <ion-tabs class="tabs-dark tabs-icon-top" id="tabController-tabs1">
    <ion-tab title="Volunteer" icon-on="volunteer" icon-off="volunteer" href="#/page1/tab2/page11" id="tabController-tab2" class="iconstyle">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Wallet" icon="ion-cash" href="#/page1/page22" id="tabController-tab3" class="iconstyle">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Credits" icon-on="credits" icon-off="credits" href="#/page1/tab5/profile" id="tabController-tab5" class="iconstyle">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Redeem" icon-on="redeem" icon-off="redeem" href="#/page1/tab4/redeemListScroll" id="tabController-tab4" class="iconstyle">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
