<ion-view hide-nav-bar="true" id="page1" style="background-color:#F8E9E9;">
  <ion-tabs class="tabs-dark tabs-icon-top" id="tabController-tabs1">
    <ion-tab title="Volunteer" icon="ion-person-add" href="#/page1/tab2/page11" id="tabController-tab2" class="iconstyle">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Wallet" icon="ion-cash" href="#/page1/page22" id="tabController-tab3" class="iconstyle">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Credits" icon="ion-happy" href="#/page1/tab5/profile" id="tabController-tab5" class="iconstyle">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Redeem" icon="ion-ios-wineglass" href="#/page1/tab4/redeemListScroll" id="tabController-tab4" class="iconstyle">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>