<ion-view title="Redeem List Scroll" hide-nav-bar="true" id="page15">
  <ion-content padding="false" class=" manual-remove-top-padding">

  <div id="vollist">
      <div class="vol" id="foodprep">
        <a>
          <div class="darkener">
            <div class="green-container">
              <a href="#">
                <h2 class="vol-title">Food Prep</h2>
                <h2 class="vol-subtitle">Light of Life</h2>
              </a>
            </div>
          </div>
        </a>
      </div>
  </div>

  <div id="vollist">
      <div class="vol" id="dumpbusters">
        <a>
          <div class="darkener">
            <div class="green-container">
              <a href="#">
                <h2 class="vol-title">Dumpbuster</h2>
                <h2 class="vol-subtitle">Allegheny Cleanways</h2>
              </a>
            </div>
          </div>
        </a>
      </div>
  </div>

  <div id="vollist">
      <div class="vol" id="ecostewards">
        <a>
          <div class="darkener">
            <div class="green-container">
              <a href="#">
                <h2 class="vol-title">Ecosteward</h2>
                <h2 class="vol-subtitle">Allegheny Cleanways</h2>
              </a>
            </div>
          </div>
        </a>
      </div>
  </div>




  </ion-content>
</ion-view>
