<ion-view title="Volunteer List Scroll" hide-nav-bar="true" id="page11" style="background-color:#000000;">
  <ion-content padding="false" class=" manual-remove-top-padding">
    <div id="volunteerListScroll-container6" class="volunteerHeading">
      <div ng-repeat="project in projects">
        <a style="display:block;" ui-sref="tabController.volunteerLOL({id:project.id})">
          <img src="{{project.image}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div>
        <a style="display:block;" ui-sref="tabController.volunteerLOL">
          <img src="img/piuLKX3fTSIY6m8WKDLg_LOL.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div>
        <a style="display:block;" ui-sref="tabController.volunteerDumpBuster">
          <img src="img/KXIq2iTtTgC4eK4nEywy_Dump.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div>
        <a style="display:block;" ui-sref="tabController.volunteerEcosteward">
          <img src="img/FxBzJXBREKbfKRccDBVE_Eco_stew.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
