<ion-view title="Volunteer LOL Thanks" hide-nav-bar="true" id="page17" style="background-color:#000000;">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <div id="volunteerLOLThanks-container10" class="volunteerHeading">
      <div id="volunteerLOLThanks-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;font-size:23px;">Thanks For Volunteering!
          <br>We'll Contact You Soon.</p>
      </div>
      <div>
        <img src="img/Edn984LBSiCyDYn6oImW_LOL.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div>
        <img src="img/I3xvnOmFQgixokEAadfI_LOLAddress640x41.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div id="volunteerLOLThanks-container9">
        <div>
          <a style="display:block;" ui-sref="tabController.home">
            <img src="img/ycHCchZ5Sra0GCXbM1G4_involveMINT_Logo_175x70.png" style="display: block; width: 55%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>