
<ion-view title="Redeem List Scroll" hide-nav-bar="true" id="page15">
  <ion-content padding="false" class=" manual-remove-top-padding">

  <div id="partnerlist" class="partnerlist">
      <div class="partner" id="decoresources">
        <a>
          <div class="darkener">
            <div class="green-container">
              <a href="#">
                <h2 class="partner-title">Free Water Test</h2>
                <h2 class="partner-subtitle">Deco Resources</h2>
              </a>
            </div>
          </div>
        </a>
      </div>
  </div>

  <div id="partnerlist" class="partnerlist">
      <div class="partner" id="familyfarms">
        <a>
          <div class="darkener">
            <div class="green-container">
              <a href="#">
                <h2 class="partner-title">Ice Cream Discounts</h2>
                <h2 class="partner-subtitle">Family Farms Creamery</h2>
              </a>
            </div>
          </div>
        </a>
      </div>
  </div>

  <div id="partnerlist" class="partnerlist">
      <div class="partner" id="jamesstreet">
        <a>
          <div class="darkener">
            <div class="green-container">
              <a href="#">
                <h2 class="partner-title">Free Admission</h2>
                <h2 class="partner-subtitle">James Street Gastropub</h2>
              </a>
            </div>
          </div>
        </a>
      </div>
  </div>

    <div id="partnerlist" class="partnerlist">
      <div class="partner" id="photoantiquities">
        <a>
          <div class="darkener">
            <div class="green-container">
              <a href="#">
                <h2 class="partner-title">Free Admission</h2>
                <h2 class="partner-subtitle">Photo Antiquities Museum</h2>
              </a>
            </div>
          </div>
        </a>
      </div>
  </div>

  <div id="partnerlist" class="partnerlist">
      <div class="partner" id="popcraft">
        <a>
          <div class="darkener">
            <div class="green-container">
              <a href="#">
                <h2 class="partner-title">Workshop Discount</h2>
                <h2 class="partner-subtitle">Popcraft</h2>
              </a>
            </div>
          </div>
        </a>
      </div>
  </div>

    <div id="partnerlist" class="partnerlist">
      <div class="partner" id="ventureoutdoors">
        <a>
          <div class="darkener">
            <div class="green-container">
              <a href="#">
                <h2 class="partner-title">Free Adventure</h2>
                <h2 class="partner-subtitle">Venture Outdoors</h2>
              </a>
            </div>
          </div>
        </a>
      </div>
  </div>

  </ion-content>
</ion-view>
