<ion-view title="Wallet" hide-nav-bar="false" id="page35" style="background-color:#000000;">
  <ion-content padding="false" class=" manual-remove-top-padding">
    <div ng-repeat="voucher in vouchers">
      <div id="walletlist" class="walletlist">
        <a ui-sref="tabController.voucher({id:voucher.id})">
          <div class="wallet" style='background-image: url("{{voucher.Redemption.image}}")'>   
            <div class="green-container">
              <h2 class="wallet-title">{{voucher.Redemption.title}}</h2>
              <h2 class="wallet-subtitle">{{voucher.Redemption.orgName}}</h2>
            </div>
          </div>
        </a>  
     </div>      
    </div>
  </ion-content>
</ion-view>
