<ion-view title="Wallet" hide-nav-bar="true" id="page35" style="background-color:#000000;">
  <ion-content padding="false" class=" manual-remove-top-padding">


     <div id="walletlist" class="walletlist">
         <div class="wallet" id="bigdogvoucher">
           <a>
               <div class="green-container">
                 <a href="#">
                   <h2 class="wallet-title">Free Cold Brew (M)</h2>
                   <h2 class="wallet-subtitle">Big Dog Coffee</h2>
                 </a>
               </div>
           </a>
         </div>
     </div>

     <div id="walletlist" class="walletlist">
         <div class="wallet" id="concert">
           <a>
             <div class="darkener">
               <div class="green-container">
                 <a href="#">
                   <h2 class="wallet-title">Free Concert</h2>
                   <h2 class="wallet-subtitle">James Street Gastropub</h2>
                 </a>
               </div>
             </div>
           </a>
         </div>
     </div>


  </ion-content>
</ion-view>
