<ion-view title="Wallet" hide-nav-bar="true" id="page35" style="background-color:#000000;">
  <ion-content padding="false" class=" manual-remove-top-padding">
    <div id="wallet-container42" class="creator-container"></div>
    <div>
      <img src="img/Ipg0P6eT2ufO3zlm1H0x_James.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/Pkh5nICyRmGBrI5ijWP6_JamesAddress640x41.jpg" style="display: block; width: 65%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="wallet-heading14" style="color:#FFFFFF;text-align:center;">Present at Door</h3>
    <h4 id="wallet-heading20" style="color:#FFFFFF;text-align:center;">Pass # 3224</h4>
    <div>
      <img src="img/7jSPiN3SlyyzfEgISo4E_involveMINT_Logo_175x70.png" style="display: block; width: 55%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>