<ion-view title="Your Profile" hide-nav-bar="true" id="page7">
  <ion-content padding="false" class=" manual-remove-top-padding">
    <div class="profile-container">
      <div class="logout-nav">
        <a ui-sref="tabController.volunteerLOLThanks" ng-click="logout()" class="">Logout</a>

      </div>
      <div class="user-image-container">
        <img class="user-image" src="img/stock-profile-avie.png" gravatar-src="userData.email" gravatar-size="200">
      </div>
      <div class="center">
        <h4 class="bold">Jane Smith {{userData.name}}</h4>
        <h5>Pitsburgh, PA</h5>
      </div>
      <div class="bold italic profile-blocks">
        <div class="block-item">
          <p>33</p>
          <p>CREDITS</p>
        </div>
        <div class="block-item">
          <p>86</p>
          <p>HOURS</p>
        </div>
        <div class="block-item">
          <p>5</p>
          <p>PAST PROJECTS</p>
        </div>
      </div>
      <div class="current-projects">
        <h4 class="bold">Your Current Projects:</h4>
        <div class="project-box bold">
          <h5 class="bold">  <a href="#">Community Garden Sage</a></h5>
          <p class="upcase bold">Grow Pittsburgh</p>
          <h5 class="bold"><a href="#">Bike Light Giveaway</a> </h5>
          <p class="upcase bold">Bike PGH</p>
        </div>
      </div>

      <div class="redeem-box">
        <form>
          <label>Enter time credits to redeem code:</label>
          <div class="item item-input">
            <input class="credit-input" type="text" placeholder="e.g. 7">
          </div>
          <button ng-model="data.addCredit" class="bold button button-balanced  button-block addCreditButton">Add Time Credit to Total</button>
        </form>
      </div>

      <!-- <h5 class="creditsHeading">Current Time Credits: </h5>
      <h5 class="creditsHeading">Credits Redeemed: </h5>
      <h5 class="creditsHeading"> Time Credits Earned: </h5> -->

      <!-- <div class="buttonContainer">
        <a ui-sref="tabController.volunteerListScroll" id="yourProfile-button15" class="button button-balanced  buttonstyle shortProfileLeft">Volunteer</a>
        <a ui-sref="tabController.redeemListScroll" id="yourProfile-button14" class="button button-balanced  buttonstyle shortProfileRight">Redeem</a>
      </div> -->
    </div>
  </ion-content>
</ion-view>
